$body-bg: rgb(27, 27, 27);
$bg-secondary: #E3E2E2;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

.main-card {
    margin-top: 16px;
}

.content {
    background-color: #E3E2E2;
}

.extras {
    color: #6d6d6d;
}

.main-heading {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.25;
}

@media (max-width: 600px) {
    .main-heading {
        font-size: 20px;
    }
}